<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager | TaskList</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="container">
<div class="row">
 <h2 class= "text-center">Task List</h2>
</div>
  <div class="row"> 
  <div th:if="${param.success}">
   <div class ="alert alert-success alert-dismissible fade show" role = "alert">
     <strong>Success!</strong> Task is created.
     <button type = "button" class = "btn-close" data-bs-dismiss="alert" aria-label="close"></button>
   </div>
  </div>
  <div th:if="${param.update}">
   <div class ="alert alert-sucess alert-dismissible fade show" role = "alert">
     <strong>Success!</strong> Task is Updated.
     <button type = "button" class = "btn-clode" data-bs-dismiss="alert" aria-label="close"></button>
   </div>
  </div>
   <table class="table">
   <thead>
     <tr>
     <th scope = "col">#</th>
     <th scope = "col">Name</th>
     <th scope = "col">Discription</th>
     <th scope = "col">Start Date</th>
     <th scope = "col">End Date</th>
     <th scope = "col">priority</th>
     <th scope = "col">status</th>
     <th scope = "col">Action
     </th>
     </tr>
   </thead>
   <tbody>
   <tr th:each="task, taskStat : ${tasks}">
    <td th:text="${taskStat.count}"></td>
    <td th:text="${task.name}"></td>
    <td th:text="${task.discription}"></td>
    <td th:text="${task.startDate}"></td>
    <td th:text="${task.endDate}"></td>
    <td th:text="${task.priority}"></td>
    <td th:text="${task.status}"></td>
    <td>
     <a th:href = "@{/tasks/edit/{id}(id=${task.id})}" class="btn btn-info">Edit</a>
     <a th:href = "@{/tasks/delete/{id}(id=${task.id})}" class="btn btn-danger" 
     th:data-confirm-delete="|Are you sure you want to delete this task : '${task.name}'|" 
     onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
    </td>
   </tr>
   </tbody>
   </table> 
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>